<!doctype html>
<html lang = en>
    <head>
        <title>processor</title>
    </head>
    <body>
        <h1>First Name: {{.First}}<br>Last Name: {{.Last}}</h1>
    </body>
        <!-- <form action = "/process" method = "POST" > -->
        <!-- <label for = "fer"> First Name </label> -->
        <!-- <input type = "text" placeholder="First Name" name = "firster" id = "fer"> -->
        <!-- <label for = "ler"> Last Name </label> -->
        <!-- <input type = "text" placeholder="Last Name" name = "laster" id = "ler"> -->
        <!-- <input type = "submit"> -->
    </form> */}}
</html>

